*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;

}
body{
    font-family:Georgia, 'Times New Roman', Times, serif;
}
header{
    width:100%;
    background-color:coral;
    color:aliceblue;
   }
 header nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
    height:70px;

}
nav h1{
    padding-left: 20px;
}
nav ul{
    display:flex;
    justify-content: space-around;
  
}
nav ul li{
    padding:0px 20px;
 
}
nav ul li a{
  
    color:aliceblue;
    font-size:17px;
    padding: 7px 13px;
    border-radius:3px;

}
a.active,a:hover {
    background-color: #1b9bff;
    transition:.5s;
  }
  nav .sidebar{
    position:fixed;
    top:0px;
    right:0px;
    width:300px;
    height:100vh;
    background-color:coral;
    color:aliceblue;
    display:none;
    flex-direction: column;
    justify-content: flex-start;
    align-items:flex-start;
    
  }
  nav .sidebar li{
    padding:10px 20px;

  }
  nav .sidebar i{
    font-size: 18px;
    padding:15px 20px;
  }
  nav .menu{
    display: none;
  }

  @media(max-width:900px){
    nav .menu{
        display: block;
        padding-right: 20px;
    }
    .hideMenu{
        display: none;
    }
  }
  @media(max-width:375px){
    nav .sidebar {
        width: 200px;
    }
  }
/* image  */
.home-pic img{
    width:300px;
    height:300px;
    object-fit: contain;

}
.home{
    display:flex;
    height: 300px;
}
.home-pic{
width:50%;
display:flex;
justify-content: center;
align-items: center;
}
.home-text{
width:50%;
text-align: start;
}
.home-text h1{
    font-size: 40px;
    padding: 25px 0px;
}
.home-text p{
    font-size:20px;
    line-height: 1.5;
    margin-right: 20px;
}

@media(max-width:900px)
{
    .home{
        flex-direction:column;
        width: 100%;
        height:600px;
    }
    .home-pic,.home-text{
        width:100%;
    }
    .home-text{
        padding: 0px 70px;
    }
    .home-text h1{
        text-align: center;
    }
}
@media(max-width:375px)
{
    .home{
        flex-direction:column;
        width:100%;
        height:900px;
        
    }
    .home-text{
        padding:0px 50px;
    }
    .home-text p{
        font-size:23px;
    }
}
/* Project Section */
.project h1{
    font-size:40px;
}
.card-container{
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    margin-top:20px;
}
.card{
    width:325px;
    background-color: coral;
    border-radius:8px;
    overflow:hidden;
    box-shadow:0px 2px 4px rgba(0,0,0,0.2);
    margin:20px;
}
.card img{
    width:100%;
    height:auto;
}
.card-content{
    padding:16px;
}
.card-content h3{
    font-size: 28px;
    margin-bottom:8px;
}
.card-content p{
    color:#fff;
    font-size:15px;
    line-height:1.3;
}
.btn{
    display:inline-block;
    padding:8px 16px;
    background-color:#333;
    text-decoration:none;
    border-radius:4px;
    margin-top:16px;
    color:#fff;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

@media(max-width:400px)
{
    .project{
        padding:15px 0px 10px 0px;
    }
    .project h1{
        font-size:23px;
       
    } 
}
@media(max-width:900px){
    .project h1{
        font-size:30px;
      
    }  
}